@media screen and (max-width: 1400px){
    #profile{
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-container{
        flex-wrap: wrap;
    }
}



@media screen and (max-width: 1200px){
    #desktop-nav{
        display:none;
    }

    #mobile-nav{
        display:none;
    }

    #tab-nav{
        display: flex;
    }
    
    #experience, .experience-details-container{
        margin-top: 2rem;
    }

    #profile, .section-container{
        display: block;
    }
    .arrow{
        display: none;
    }

    section, .section-container{
        height: fit-content;
    }

    section{
        margin: 0 5%;
    }
    
    .section__pic_container{
        height: 175px;
        width:175px;
        margin: 0 auto 2rem;
    }

    .about-container{
        margin-top:0;
    }
}

@media screen and (max-width: 450px) {
    #mobile-nav{
        display: flex;
    }
    
    #desktop-nav{
        display:none;
    }

    #tab-nav{
        display:none;
    }

    #contact, footer{
        height: 40vh;
    }

    #profile{
        height: 83vh;
        margin-bottom: 15em;
    }

    article{
        font-size: 1rem;
    }

    footer nav{
        height: fit-content;
        margin-bottom: 2rem;;
    }

    .about-container, .contact-outer-container, .btn-container{
        flex-wrap: wrap;
    }

    .contact-container p, .footer-links-container li a{
        font-size: 1rem;
    }

    .experience-subtitle{
        font-size:1.25rem;
    }

    .logo{
        font-size: 1.5rem;
    }

    .nav-links{
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
}